#home{
  display: flex;
  min-height: calc(100vh - 91px );
  position: relative;
}

#cta{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 6%;
}

#cta .title{
  font-size: 4rem;
  color: #1d1d1d;
}

#cta .title span{
  color: var(--primary-color-3);
}

#cta .description{
  font-size: 1.2rem;
}

#cta_buttons{
  display: flex;
  gap: 24px;
}

#cta_buttons a{
  text-decoration: none;
  color: #1d1d1d;
}

#phone_button{
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#banner {
  
  margin-top: 6%;
  display: flex;
  align-items: start;
  justify-content: end;
  align-items: center;
  width: 60%;
  z-index: 2;
  /* border: red 1px solid; */

}

#banner .carousel {
  width: 100%; /* Faz com que o carousel preencha o espaço do banner */
 

}

.carousel-inner {
  width: 100%; /* Garante que os itens internos também respeitem a largura do carousel */
}

.carousel-item img {
  width: 100%; /* Faz com que as imagens preencham o carousel */
  height: 450px; /* Mantém uma altura fixa para consistência */
  object-fit: cover; /* Ajusta a imagem para caber no container */
}

.carousel-item video {
  width: 100%; /* Faz com que as imagens preencham o carousel */
  height: 450px; /* Mantém uma altura fixa para consistência */
  object-fit: cover; /* Ajusta a imagem para caber no container */
}

/* #banner img{
  
  object-fit: cover; 
} */

/* .shape{
  background-color: var(--primary-color-2);
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 0;
  right: 0;
  z-index: 1;
} */

/* CARROSEL */


@media screen and (max-width: 1170px){
  #home{
    min-width: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img,
  #home .shape{
    display: none;
  }

  #cta{
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

